<div id="login-signup" ng-controller="LoginCtrl as login">
	<h2>Todos</h2>
	<div id="login">
		<form name="login.loginForm" ng-submit="login.login()">
			<p>{{ login.errors.login }}</p>
			<input name="email" ng-model="login.user.email" type="email" placeholder="Email"></br>
			<input name="password" ng-model="login.user.password" type="password" placeholder="Password"/></br>
			<input type="submit" value="Log In" />
		</form>
	</div>

	<div id="signup">
		<form name="signUpForm" ng-submit="login.signUp()">
			<p>{{ login.errors.signup }}</p>
			</br>
			<input name="email" ng-model="login.newUser.email" type="email" placeholder="Email"></br>
			<input name="password" ng-model="login.newUser.password" type="password" placeholder="Password"></br>
			<input type="submit" value="Sign Up" />
		</form>
	</div>
</div>