
<div id="todos-wrapper" ng-controller="TodosCtrl as tdc">

	<div id="create-todo" ng-controller="CreateTodoCtrl as creator">
		<form ng-submit="creator.addTodo()">
			<input type="text" 
						 ng-model="creator.newTodo.description"
						 placeholder="What must you do?" />
			<input type="submit" value="Put it on the list!" />
		</form>
	</div>

	<div id="chart" 
			 google-chart 
			 chart="tdc.chart"
			 style="padding:0;">
	</div>

	<div id="todos-display">
		{{ tdc.errors.todoFetch }}
		<div id="display-controls" ng-init="tog=1">
			<input type="text" ng-model="query" placeholder="Search your todos..."/>
			<button id="1" ng-class='{"selected":tog==1}' ng-click="tdc.displayAll();tog=1">All Todos</button>
			<button id="2" ng-class='{"selected":tog==2}' ng-click="tdc.displayComplete();tog=2">Complete</button>
			<button id="3" ng-class='{"selected":tog==3}' ng-click="tdc.displayIncomplete();tog=3">Incomplete</button>
		</div>
		<div id="todo-list">
			<ul as-sortable="tdc.dragControlListeners"
					ng-model="tdc.todos">
				<li ng-repeat="todo in tdc.todos | filter:query | filter:tdc.status"
					  ng-model="todo"
					  as-sortable-item>
				  <div as-sortable-item-handle>
				  	<input type="checkbox" 
				  				 ng-model="todo.is_complete" 
				  				 ng-click="tdc.toggleCompletion(todo)"/>
				  	<form ng-submit="tdc.editTodo(todo)">
						  <input type="text" ng-focus="tdc.saveOriginal(todo)" ng-model="todo.description" />
				  	</form>
					</div>	
				</li>
			</ul>
		</div>
	</div>

</div>
