* {
	-webkit-box-sizing: border-box;
		 -moz-box-sizing: border-box;
		 		  box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

div#page-wrap {
	min-width: 500px;
	max-width: 1260px;
	margin: 40px auto;
}

div#login-signup {
	padding: 50px 100px 0 100px;
	height: 200px;
	width: 500px;
	margin: 200px auto 0 auto;
	border: 1px solid black;
}

div#login-signup div {
	width: 135px;
	display: inline-block;
	text-align: center;
	border: 1px solid blue;
}

div#login-signup div input {
	margin: 5px;
}


